---
import "../styles/global.css";
---
<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>RMVS Market | Women's Fashion</title>
	</head>
	<body class="min-h-full bg-slate-50 text-slate-900 antialiased">
		<div class="flex min-h-screen flex-col">
			<main class="flex-1">
				<slot />
			</main>
		</div>
	</body>
</html>
